* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: #141414;
  color: #f7f7f2;
  height: 5em;
  width: 100vw;
  font-family: Quicksand, sans-serif;
}

.logo-img {
  padding: 0.2em;
  width: 5em;
  margin-left: 1em;
}

.icon-img {
  width: 3em;
}

.nav-item-text {
  font-size: 1.2em;
}

.mobile-header-text {
  color: #eeb902;
  font-size: 1.5em;
  margin-right: 1em;
}

@media (min-width: 500px) {
  .mobile-header-text {
    display: none;
  }
}

.nav-bar-container {
  display: none;
}

.nav-bar {
  list-style: none;
  gap: 1em;
  margin-right: 2em;
}

@media (min-width: 500px) {
  .nav-bar {
    display: flex;
  }
  .nav-bar-container {
    display: block;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.1em;
}
