* {
  margin: 0;
  padding: 0;
}

body {
  background: #1f1f1f;
  color: #f7f7f2;
  display: flex;
  flex-direction: column;
}

.landing-page-img {
  padding-top: 6em;
  width: 90vw;
  display: none; /*Only for desctop version*/
}

@media (min-width: 500px) {
  .landing-page-img {
    display: block;
  }
}

.page-link {
  color: #f7f7f2;
  text-decoration: none;
}

.page-link:hover {
  color: #eeb902;
  padding-bottom: 0.1em;
  border-bottom: 0.1em solid #eeb902;
}

.home-content-container {
  width: 80%;
}
