* {
  margin: 0;
  padding: 0;
}

/* FONTS: 
Quicksand - headers and nav bar
Varta - normal text and paragraphs  */

body {
  background: #1f1f1f;
  color: #f7f7f2;
  display: flex;
  flex-direction: column;
  font-family: Varta, sans-serif;
}

.page-link {
  color: #f7f7f2;
  text-decoration: none;
}

.page-link:hover {
  color: #eeb902;
  padding-bottom: 0.1em;
  border-bottom: 0.1em solid #eeb902;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}